body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(8,31,135,1) 42%, rgba(7,59,154,0.9821770445631427) 71%, rgba(0,212,255,1) 100%);
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-top: 2px;
}
#guessField{
    padding: 5px;
    background-color: black;
    color: white;
}
#subt{
    padding: 2px;
    margin: 5px;
}
